body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAEBD7;
}
.container a {
    padding: 18px 10px;
    margin: 2px;
}
.container a, button {
    color: #483D8B;
    display: block;
    text-decoration: NONE;
    background-color: aliceblue;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}
button {
    padding: 10px;
}

.container a:hover, button:hover {
    background-color: #00294d;
    color: aliceblue;
}

.register-user fieldset {
    border-width: inherit
}

#id_gender {
    padding: 5px;
}

#id_gender * {
    margin: 5px;
}

.errorlist {
    list-style-type: NONE;
    padding-inline-start: 10px;
    color: #990000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

#home-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

#login-register-panel, .register-user {
    margin: auto;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

#login-form, #register-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

