{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <title>Daycare Network</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if profile.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'login_index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'settings' %}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Log Out</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>

            {% endif %}
        </ul>

    </nav>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        {% block content %}
        {% endblock %}

  <!-- Footer -->
  <footer>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Daycare Network
            </h6>
            <p>
              Here you can find some daycare services
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Sofia</p>
            <p><i class="fas fa-envelope mr-3"></i> georgi.taschev@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +359 899 69 64 60</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 test">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow me</h6>

            <div class="social-media">
                <!-- Facebook -->
                <a class="btn-my-style"
                   href="https://www.facebook.com/georgi.tashev"
                   role="button">
                   <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Linkedin -->
                <a
                   class="btn-my-style"
                   href="https://www.linkedin.com/in/georgi-tashev-3aab33a/"
                   role="button">
                   <i class="fab fa-linkedin-in"></i>
                </a>

                <!-- Github -->
                <a
                   class="btn-my-style"
                   href="https://github.com/xaoccc"
                   role="button">
                    <i class="fab fa-github"></i>
                </a>
            </div>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright: Daycare Network
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->
</body>
</html>