{% extends 'common/base.html' %}
{% block content %}

    <section class="register-user">
        <fieldset>
            {% if profile.is_authenticated %}
                <legend class="home-legend">Welcome, {{ name }}</legend>
                <div class="container">
                    <a href="#">Find someone to look after your child</a>
                    <a href="#">Find daycare job offers</a>
                </div>
            {% else %}
                <legend class="home-legend">Welcome!</legend>
                <div class="container">
                    <a href="{% url 'register' %}">Create New User</a>
                    <a href="{% url 'login' %}">Log In</a>
                    {% load socialaccount %}
                    <a href="{% provider_login_url 'google' %}?next=/">Google Login</a>
                </div>
            {% endif %}

            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li class="message">
                        {{ message }}
                    </li>
                {% endfor %}
                 </ul>
{% endif %}


        </fieldset>
    </section>

{% endblock %}
