{% extends 'common/base.html' %}
{% block content %}

    <section class="register-user">
        <fieldset>
            {% if profile.is_authenticated %}
                <legend class="home-legend">Welcome, {{ name }}</legend>
                <div class="container">
                    <a class="menu-link" href="{% url 'register_offer' %}">Register an offer</a>
                    <a class="menu-link" href="#">Find someone to look after your child</a>
                    <a class="menu-link" href="#">Find daycare job offers</a>
                    <a class="menu-link" href="#">Find a profile</a>
                    <a class="menu-link" href="{% url 'user_data' %}">Show all users</a>
                    <a class="menu-link" href="{% url 'delete_user' %}">Delete this user</a>
                </div>
            {% else %}
                <legend class="home-legend">Welcome!</legend>
                <div class="container">
                    <a class="menu-link" href="{% url 'register' %}">Create New User</a>
                    <a class="menu-link" href="{% url 'login' %}">Log In</a>
                    {% load socialaccount %}
                    <a class="menu-link" href="{% provider_login_url 'google' %}?next=/">Google Login</a>
                </div>
            {% endif %}

            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                    <p class="message">
                        {{ message }}
                    </p>
                {% endfor %}
                 </div>
            {% endif %}
        </fieldset>
    </section>

{% endblock %}
