body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAEBD7;
}
.menu-link {
    padding: 18px 10px;
    margin: 2px;
}
.menu-link, button {
    color: #483D8B;
    display: block;
    text-decoration: NONE;
    background-color: aliceblue;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}
button {
    padding: 10px;
}
.btn {
    border-radius: 1.5em;
}

.menu-link:hover, button:hover {
    background-color: #00294d;
    color: aliceblue;
}

.nav-link:hover {
    background-color: #00294d;
    color: aliceblue;
}

.register-user fieldset {
    border-width: inherit
}

.home-legend {
    text-align: center;
}

#id_gender {
    padding: 5px;
}

#id_gender * {
    margin: 5px;
}

.errorlist {
    list-style-type: NONE;
    padding-inline-start: 10px;
    color: #990000;
}
.error {
    margin-top: 20px;
    color: red;
    text-align: center;
}

#home-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

#login-register-panel, .register-user {
    margin: auto;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

#login-form, #register-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.list-group {
    display: inline-block;
    padding: 0px 10px;
}

.d-flex {
    padding: 20px 0px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 20px;
    background-color: #FAEBD7;
}

.social-media {
    display: flex;
}

body > footer > div.container.p-4.pb-0 > section {
    background-color: rgba(0, 0, 0, 0.1);
}

.social-media > a  {
    width: 32px;
    height: 32px;
    color: #000;
    padding: 7px;
    margin-right: 10px;
    border: #000 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-media > a:hover {
    color: #FAEBD7;
    border-color: #FAEBD7;
    background-color: rgba(0, 0, 0, 0.6);
}



